.container {
  display: flex;
  gap: 1.2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.font-montserrat-semibold {
    font-family: var(--font-montserrat);
    font-weight: 600;
}